<footer>
    <div class="footer-container responsive-container">
    <div>Copyright &copy; 2026 <a href="https://www.github.com/michanoku">Michanoku</a></div>
    </div>
</footer>
<script type="text/javascript" src="/scripts/toggleTheme.js"></script>
<script type="text/javascript" src="/scripts/toggleNav.js"></script>