<footer>
    <div>Copyright &copy; 2026 <a href="github.com/michanoku">Michanoku</a></div>
</footer>
<script type="text/javascript" src="/scripts/toggleTheme.js"></script>
<script type="text/javascript" src="/scripts/toggleNav.js"></script>