<header>
  <div class="header-container responsive-container">
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <!-- Menu icon -->
    <symbol id="icon-menu" viewBox="0 0 24 24" fill="none" stroke="currentColor">
      <path d="M4 5h16"/>
      <path d="M4 12h16"/>
      <path d="M4 19h16"/>
    </symbol>
    <!-- Close icon -->
    <symbol id="icon-close" viewBox="0 0 24 24" fill="none" stroke="currentColor" >
      <path d="M18 6 6 18"/>
      <path d="m6 6 12 12"/>
    </symbol>
    <!-- Sun icon -->
    <symbol id="icon-light" viewBox="0 0 24 24" fill="none" stroke="currentColor">
      <circle cx="12" cy="12" r="4"></circle>
      <path d="M12 2v2"></path>
      <path d="M12 20v2"></path>
      <path d="m4.93 4.93 1.41 1.41"></path>
      <path d="m17.66 17.66 1.41 1.41"></path>
      <path d="M2 12h2"></path>
      <path d="M20 12h2"></path>
      <path d="m6.34 17.66-1.41 1.41"></path>
      <path d="m19.07 4.93-1.41 1.41"></path>
    </symbol>
    <!-- Moon icon -->
    <symbol id="icon-dark" viewBox="0 0 24 24" fill="none" stroke="currentColor">
      <path
        d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401">
      </path>
    </symbol>
  </svg>
  <button 
    id="navToggle"
    class="toggle mobile" 
    aria-label="" 
    aria-pressed=""
  >
    <svg width="32" height="32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <use href="#icon-menu"></use>
    </svg>
  </button>
  <h1>Michanoku Gamestore</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <a href="/genres">Genres</a>
    <a href="/platforms">Platforms</a>
    <a href="/developers">Developers</a>
  </nav>
  <button 
    id="themeToggle" 
    class="toggle theme-toggle" 
    aria-label="<%= theme === 'dark' ? 'Switch to light mode': 'Switch to dark mode' %>" 
    aria-pressed="<%= theme === 'dark' %>"
  >
    <svg width="32" height="32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <use href="#icon-<%= theme %>"></use>
    </svg>
  </button>
  </div>
</header>